@model IEnumerable<Firma.Data.Sklep.Towar>;

@{
    ViewData["Title"] = "Sklep";
    Layout = "~/Views/Shared/_SklepLayout.cshtml";
}

<h2>To jest nasz sklep</h2>

Tu se jebnij tabelke z towarami z linkami do szczegolow
