@model Firma.Data.Sklep.Towar;

@{
    ViewData["Title"] = "Szczegoly";
    Layout = "~/Views/Shared/_SklepLayout.cshtml";
}

<h2>Szczegoly</h2>

A tu se jebnij szczegoly towaru, ale takie zajebiste.

